<h1>New Track</h1>
<pre>
	<%= params%>
</pre>
<%=form_for(@track) do |f| %>
	<%= f.hidden_field(:album_id) %>
	<br>
	<%= f.select :song_id, Song.all.map { |song| [song.name, song.id] } %><br>
	<br>
	<%= f.label(:duration, "Track duration:") %>
	<%= f.time_select(:duration) %>
	<br>
	<%= f.label(:bonus, "Bonus Track True:") %>
	<%= f.radio_button :bonus, true %>
	<%= f.label(:bonus, "Bonus Track False:") %>
	<%= f.radio_button :bonus, false %>
	<br>
	<%= f.label(:lyrics, "Track lyrics:") %>
	<%= f.text_area(:lyrics) %>

	<%= f.submit%>
<% end %>
